In [57]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd
from sqlalchemy import create_engine

In [58]:
url = 'https://www.inflation.eu/inflation-rates/mexico/historic-inflation/cpi-inflation-mexico.aspx'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

table = pd.read_html(url)
print(table)

[    0   1
0 NaN NaN,                                            0
0  <!-- new menu (MENU_ITEMS, MENU_TPL); -->,                                            0
0  <!-- new menu (MENU_ITEMS, MENU_TPL); -->,                                                    0
0  <!-- google_ad_client = "ca-pub-88446894191807...,     0                                                  1   2  \
0 NaN  <!-- google_ad_client = "ca-pub-88446894191807... NaN

                                                   3
0  Austria \tBelgium \tBrazil \tCanada \tChile \t...  ,                                                    0
0  <!-- google_ad_client = "ca-pub-88446894191807...,                                                    0
0  <!-- google_ad_client = "ca-pub-88446894191807...,                                            0   1
0  Historic inflation Mexico - CPI inflation NaN,                                  0          1   2  \
0   annual inflation (dec vs. dec)  inflation NaN
1                  CPI Mexico 2019     2.83 % NaN
2                  CPI Mexico 2018     4.83 % NaN
3                  CPI Mexico 2017     6.77 % NaN
4                  CPI Mexico 2016     3.36 % NaN
5                  CPI Mexico 2015     2.13 % NaN
6                  CPI Mexico 2014     4.08 % NaN
7                  CPI Mexico 2013     3.97 % NaN
8                  CPI Mexico 2012     3.57 % NaN
9                  CPI Mexico 2011     3.82 % NaN
10                 CPI Mexico 2010     4.40 % NaN

                                 3          4
0   annual inflation (dec vs. dec)  inflation
1                  CPI Mexico 2009     3.57 %
2                  CPI Mexico 2008     6.53 %
3                  CPI Mexico 2007     3.76 %
4                  CPI Mexico 2006     4.05 %
5                  CPI Mexico 2005     3.33 %
6                  CPI Mexico 2004     5.19 %
7                  CPI Mexico 2003     3.98 %
8                  CPI Mexico 2002     5.70 %
9                  CPI Mexico 2001     4.40 %
10                 CPI Mexico 2000     8.96 %  ,                     0          1   2                  3          4
0   average inflation  inflation NaN  average inflation  inflation
1     CPI Mexico 2020     3.39 % NaN    CPI Mexico 2010     4.16 %
2     CPI Mexico 2019     3.64 % NaN    CPI Mexico 2009     5.31 %
3     CPI Mexico 2018     4.90 % NaN    CPI Mexico 2008     5.12 %
4     CPI Mexico 2017     6.04 % NaN    CPI Mexico 2007     3.97 %
5     CPI Mexico 2016     2.82 % NaN    CPI Mexico 2006     3.63 %
6     CPI Mexico 2015     2.72 % NaN    CPI Mexico 2005     4.00 %
7     CPI Mexico 2014     4.02 % NaN    CPI Mexico 2004     4.68 %
8     CPI Mexico 2013     3.81 % NaN    CPI Mexico 2003     4.56 %
9     CPI Mexico 2012     4.11 % NaN    CPI Mexico 2002     5.03 %
10    CPI Mexico 2011     3.41 % NaN    CPI Mexico 2001     6.39 %,                                0                         1  \
0          CPI inflation Austria      CPI inflation Greece
1          CPI inflation Belgium     CPI inflation Hungary
2           CPI inflation Brazil     CPI inflation Iceland
3           CPI inflation Canada       CPI inflation India
4            CPI inflation Chile   CPI inflation Indonesia
5            CPI inflation China     CPI inflation Ireland
6   CPI inflation Czech Republic      CPI inflation Israel
7          CPI inflation Denmark       CPI inflation Italy
8          CPI inflation Estonia       CPI inflation Japan
9          CPI inflation Finland  CPI inflation Luxembourg
10          CPI inflation France      CPI inflation Norway
11         CPI inflation Germany      CPI inflation Poland
12   CPI inflation Great Britain    CPI inflation Portugal

                                2
0            CPI inflation Russia
1          CPI inflation Slovakia
2          CPI inflation Slovenia
3      CPI inflation South Africa
4       CPI inflation South Korea
5             CPI inflation Spain
6            CPI inflation Sweden
7       CPI inflation Switzerland
8   CPI inflation The Netherlands
9            CPI inflation Turkey
10    CPI inflation United States
11                            NaN
12                            NaN  ,                                                    0
0  This website contains current data about infla...,                                                    0
0  Austria \tBelgium \tBrazil \tCanada \tChile \t...
1  Inflation by country - quick links  Inflation ...,                                                    0   1
0  Austria \tBelgium \tBrazil \tCanada \tChile \t... NaN,                                                     0  \
0                  Inflation by country - quick links
1                                   Inflation Belgium
2                                    Inflation Brazil
3                                    Inflation Canada
4                                     Inflation China
5                                    Inflation France
6                                   Inflation Germany
7                             Inflation Great Britain
8                                     Inflation India
9                                 Inflation Indonesia
10                                    Inflation Italy
11  Current inflation by country - CPI inflation  ...

                                                    1
0                  Inflation by country - quick links
1                                     Inflation Japan
2                                    Inflation Mexico
3                                    Inflation Poland
4                                    Inflation Russia
5                              Inflation South Africa
6                                     Inflation Spain
7                                    Inflation Sweden
8                           Inflation The Netherlands
9                                    Inflation Turkey
10                            Inflation United States
11  Current inflation by country - CPI inflation  ...  ,                                                    0
0  Current inflation by country - CPI inflation  ...,                                                    0
0       Current inflation by country - CPI inflation
1  Current harmonised inflation by country - HICP...,                                                    0
0  <!-- google_ad_client = "ca-pub-88446894191807...,                                                    0
0  disclaimer  cookies  inflation.eu is an initia...,                      0                                                  1
0  disclaimer  cookies  inflation.eu is an initiative of Triami Media ...]

In [59]:
len(table)

20

In [60]:
df = table[8]
df

,0,1,2,3,4
0,annual inflation (dec vs. dec),inflation,NaN,annual inflation (dec vs. dec),inflation
1,CPI Mexico 2019,2.83 %,NaN,CPI Mexico 2009,3.57 %
2,CPI Mexico 2018,4.83 %,NaN,CPI Mexico 2008,6.53 %
3,CPI Mexico 2017,6.77 %,NaN,CPI Mexico 2007,3.76 %
4,CPI Mexico 2016,3.36 %,NaN,CPI Mexico 2006,4.05 %
5,CPI Mexico 2015,2.13 %,NaN,CPI Mexico 2005,3.33 %
6,CPI Mexico 2014,4.08 %,NaN,CPI Mexico 2004,5.19 %
7,CPI Mexico 2013,3.97 %,NaN,CPI Mexico 2003,3.98 %
8,CPI Mexico 2012,3.57 %,NaN,CPI Mexico 2002,5.70 %
9,CPI Mexico 2011,3.82 %,NaN,CPI Mexico 2001,4.40 %
10,CPI Mexico 2010,4.40 %,NaN,CPI Mexico 2000,8.96 %

In [61]:
df2 = df.drop(0)
df2

                  0       1   2                3       4
1   CPI Mexico 2019  2.83 % NaN  CPI Mexico 2009  3.57 %
2   CPI Mexico 2018  4.83 % NaN  CPI Mexico 2008  6.53 %
3   CPI Mexico 2017  6.77 % NaN  CPI Mexico 2007  3.76 %
4   CPI Mexico 2016  3.36 % NaN  CPI Mexico 2006  4.05 %
5   CPI Mexico 2015  2.13 % NaN  CPI Mexico 2005  3.33 %
6   CPI Mexico 2014  4.08 % NaN  CPI Mexico 2004  5.19 %
7   CPI Mexico 2013  3.97 % NaN  CPI Mexico 2003  3.98 %
8   CPI Mexico 2012  3.57 % NaN  CPI Mexico 2002  5.70 %
9   CPI Mexico 2011  3.82 % NaN  CPI Mexico 2001  4.40 %
10  CPI Mexico 2010  4.40 % NaN  CPI Mexico 2000  8.96 %

In [62]:
df3 = df2[[0, 1]].copy()
df3

                  0       1
1   CPI Mexico 2019  2.83 %
2   CPI Mexico 2018  4.83 %
3   CPI Mexico 2017  6.77 %
4   CPI Mexico 2016  3.36 %
5   CPI Mexico 2015  2.13 %
6   CPI Mexico 2014  4.08 %
7   CPI Mexico 2013  3.97 %
8   CPI Mexico 2012  3.57 %
9   CPI Mexico 2011  3.82 %
10  CPI Mexico 2010  4.40 %

In [63]:
df4 = df2[[3, 4]].copy()
df4

                  3       4
1   CPI Mexico 2009  3.57 %
2   CPI Mexico 2008  6.53 %
3   CPI Mexico 2007  3.76 %
4   CPI Mexico 2006  4.05 %
5   CPI Mexico 2005  3.33 %
6   CPI Mexico 2004  5.19 %
7   CPI Mexico 2003  3.98 %
8   CPI Mexico 2002  5.70 %
9   CPI Mexico 2001  4.40 %
10  CPI Mexico 2000  8.96 %

In [64]:
df4 = df4.rename(columns={3:0,4:1})
df4

                  0       1
1   CPI Mexico 2009  3.57 %
2   CPI Mexico 2008  6.53 %
3   CPI Mexico 2007  3.76 %
4   CPI Mexico 2006  4.05 %
5   CPI Mexico 2005  3.33 %
6   CPI Mexico 2004  5.19 %
7   CPI Mexico 2003  3.98 %
8   CPI Mexico 2002  5.70 %
9   CPI Mexico 2001  4.40 %
10  CPI Mexico 2000  8.96 %

In [65]:
df5 = df3.append(df4, ignore_index = True)
df5

                  0       1
0   CPI Mexico 2019  2.83 %
1   CPI Mexico 2018  4.83 %
2   CPI Mexico 2017  6.77 %
3   CPI Mexico 2016  3.36 %
4   CPI Mexico 2015  2.13 %
5   CPI Mexico 2014  4.08 %
6   CPI Mexico 2013  3.97 %
7   CPI Mexico 2012  3.57 %
8   CPI Mexico 2011  3.82 %
9   CPI Mexico 2010  4.40 %
10  CPI Mexico 2009  3.57 %
11  CPI Mexico 2008  6.53 %
12  CPI Mexico 2007  3.76 %
13  CPI Mexico 2006  4.05 %
14  CPI Mexico 2005  3.33 %
15  CPI Mexico 2004  5.19 %
16  CPI Mexico 2003  3.98 %
17  CPI Mexico 2002  5.70 %
18  CPI Mexico 2001  4.40 %
19  CPI Mexico 2000  8.96 %

In [66]:
df5[0] = df5[0].replace(regex=[r'^ba.$', 'CPI Mexico '], value='')
df5

       0       1
0   2019  2.83 %
1   2018  4.83 %
2   2017  6.77 %
3   2016  3.36 %
4   2015  2.13 %
5   2014  4.08 %
6   2013  3.97 %
7   2012  3.57 %
8   2011  3.82 %
9   2010  4.40 %
10  2009  3.57 %
11  2008  6.53 %
12  2007  3.76 %
13  2006  4.05 %
14  2005  3.33 %
15  2004  5.19 %
16  2003  3.98 %
17  2002  5.70 %
18  2001  4.40 %
19  2000  8.96 %

In [67]:
df5 = df5.rename(columns={0:'year', 1:'inflation'})
df5

    year inflation
0   2019    2.83 %
1   2018    4.83 %
2   2017    6.77 %
3   2016    3.36 %
4   2015    2.13 %
5   2014    4.08 %
6   2013    3.97 %
7   2012    3.57 %
8   2011    3.82 %
9   2010    4.40 %
10  2009    3.57 %
11  2008    6.53 %
12  2007    3.76 %
13  2006    4.05 %
14  2005    3.33 %
15  2004    5.19 %
16  2003    3.98 %
17  2002    5.70 %
18  2001    4.40 %
19  2000    8.96 %

In [68]:
df5.dtypes

year         object
inflation    object
dtype: object

In [69]:
df5['inflation'] = df5['inflation'].replace(regex=[r'^ba.$', '%'], value='')
df5

    year inflation
0   2019     2.83
1   2018     4.83
2   2017     6.77
3   2016     3.36
4   2015     2.13
5   2014     4.08
6   2013     3.97
7   2012     3.57
8   2011     3.82
9   2010     4.40
10  2009     3.57
11  2008     6.53
12  2007     3.76
13  2006     4.05
14  2005     3.33
15  2004     5.19
16  2003     3.98
17  2002     5.70
18  2001     4.40
19  2000     8.96

In [70]:
df5['inflation'] = df5['inflation'].astype('float64')
df5

    year  inflation
0   2019       2.83
1   2018       4.83
2   2017       6.77
3   2016       3.36
4   2015       2.13
5   2014       4.08
6   2013       3.97
7   2012       3.57
8   2011       3.82
9   2010       4.40
10  2009       3.57
11  2008       6.53
12  2007       3.76
13  2006       4.05
14  2005       3.33
15  2004       5.19
16  2003       3.98
17  2002       5.70
18  2001       4.40
19  2000       8.96

In [71]:
connection_string = "postgres:Ichliebe1*@localhost:5432/Project2"
engine = create_engine(f'postgresql://{connection_string}')

In [72]:
engine.table_names()

['gdp', 'inflation']

In [73]:
df5.to_sql(name='inflation', con=engine, if_exists='append', index=False)

In [74]:
pd.read_sql_query('select * from inflation', con=engine)

    index  year  inflation
0       1  2019       2.83
1       2  2018       4.83
2       3  2017       6.77
3       4  2016       3.36
4       5  2015       2.13
5       6  2014       4.08
6       7  2013       3.97
7       8  2012       3.57
8       9  2011       3.82
9      10  2010       4.40
10     11  2009       3.57
11     12  2008       6.53
12     13  2007       3.76
13     14  2006       4.05
14     15  2005       3.33
15     16  2004       5.19
16     17  2003       3.98
17     18  2002       5.70
18     19  2001       4.40
19     20  2000       8.96