In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
excel_file = "Indicadores20200416194631.xls"
df = pd.read_excel(excel_file)
df

,Instituto Nacional de Estadística y Geografía (INEGI),Unnamed: 1
0,NaN,NaN
1,Fecha de consulta: 16/04/2020 19:46:39,NaN
2,NaN,NaN
3,Periodos,583753 (Porcentaje) Mensual
4,1970/01,5.2
...,...,...
605,2020/02,3.7
606,2020/03,3.25
607,NaN,NaN
608,Fuentes:,NaN
609,/f1 INEGI. Índices de precios.,NaN

In [12]:
df2 = df.drop([0,1,2,3,607,608,609])
df2

    Instituto Nacional de Estadística y Geografía (INEGI) Unnamed: 1
4                                              1970/01           5.2
5                                              1970/02          4.81
6                                              1970/03          5.01
7                                              1970/04          4.87
8                                              1970/05          5.09
..                                                 ...           ...
602                                            2019/11          2.97
603                                            2019/12          2.83
604                                            2020/01          3.24
605                                            2020/02           3.7
606                                            2020/03          3.25

[603 rows x 2 columns]

In [13]:
df3 = df2.rename(columns={'Instituto Nacional de Estadística y Geografía (INEGI)':'period','Unnamed: 1':'inpc'})
df3

      period  inpc
4    1970/01   5.2
5    1970/02  4.81
6    1970/03  5.01
7    1970/04  4.87
8    1970/05  5.09
..       ...   ...
602  2019/11  2.97
603  2019/12  2.83
604  2020/01  3.24
605  2020/02   3.7
606  2020/03  3.25

[603 rows x 2 columns]

In [14]:
df3['year'] = df3['period'].str.slice(stop=4)
df3['month'] = df3['period'].str.slice(start=-2)
df3

      period  inpc  year month
4    1970/01   5.2  1970    01
5    1970/02  4.81  1970    02
6    1970/03  5.01  1970    03
7    1970/04  4.87  1970    04
8    1970/05  5.09  1970    05
..       ...   ...   ...   ...
602  2019/11  2.97  2019    11
603  2019/12  2.83  2019    12
604  2020/01  3.24  2020    01
605  2020/02   3.7  2020    02
606  2020/03  3.25  2020    03

[603 rows x 4 columns]

In [15]:
df3['inpc'] = df3['inpc'].astype('float64')
df3

     index   period  inpc  year month
0        4  1970/01  5.20  1970    01
1        5  1970/02  4.81  1970    02
2        6  1970/03  5.01  1970    03
3        7  1970/04  4.87  1970    04
4        8  1970/05  5.09  1970    05
..     ...      ...   ...   ...   ...
598    602  2019/11  2.97  2019    11
599    603  2019/12  2.83  2019    12
600    604  2020/01  3.24  2020    01
601    605  2020/02  3.70  2020    02
602    606  2020/03  3.25  2020    03

[603 rows x 5 columns]

In [16]:
connection_string = "postgres:Ichliebe1*@localhost:5432/Project2"
engine = create_engine(f'postgresql://{connection_string}')
engine.table_names()

['barrel_price', 'inflation', 'indice']

In [17]:
df3.to_sql(name='indice', con=engine, if_exists='append', index=False)

In [18]:
pd.read_sql_query('select * from indice', con=engine)

     index   period  inpc  year month
0        4  1970/01  5.20  1970    01
1        5  1970/02  4.81  1970    02
2        6  1970/03  5.01  1970    03
3        7  1970/04  4.87  1970    04
4        8  1970/05  5.09  1970    05
..     ...      ...   ...   ...   ...
598    602  2019/11  2.97  2019    11
599    603  2019/12  2.83  2019    12
600    604  2020/01  3.24  2020    01
601    605  2020/02  3.70  2020    02
602    606  2020/03  3.25  2020    03

[603 rows x 5 columns]